*  {
    font-family: 'Poppins', sans-serif;
    word-spacing: 5px;
   
    
}



video {
    position:absolute;
    top:0;
    width: 100%;
    height: 50vw;
    object-fit: cover;
   /* opacity: 0.8; */
   background-size: cover;
   clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
   z-index: -1;
   /* left: -15%; */

}

/* @media (min-width:800){
    .video{
        width:250vw
    }
} */

/* .nav{
    height:10px;
} */

.navbar{
    height:8vw ;
    background-color: black;
    opacity: 80%;
    
}

/* header{
    background-color: black;
    z-index: initial;
 } */


/* .container{
    width: 90%;
    max-width: 1200px;
    margin:0 auto;
    overflow: hidden;
    background-color: black;


} */
.container-fluid{
  width: 90%;
}

/* #menu.navbar-collapse.collapse {
    width:50px;
    display: grid;
    letter-spacing: 5%;
    word-spacing: -10vw;
    grid-auto-rows:max-content;
    gap:1em
  
} */
.nav-link{
    color: #f5f5f5;
    font-size: 1.5vw;

}


 .navbar-nav{
    display:flex;
    gap:1em;

} 


.navbar-collapse{
    display: grid;
    /* grid-row-end: 10px; */
    background-color: black;
    position: right;
}

.nav-link:hover{
    color:purple;
    text-shadow: #f4f6f6 solid ;

    
    
}

.icon1{
    font-size: 3vw;
    color: #f5f5f5;
    letter-spacing: 5px;
    font-style: solid;
    font-weight: 50;
    
}
.icon1:hover{
    color: purple;
}

#icon{
    /* margin-left: 90%; */
    font-size: 3vw;
    font-weight:900;
    color:purple;
    
    
}



.cuadros{
    font-size:2vw ;
}

.navbar-toggler{
    display: flex;

    

}

.navbar-toggler:hover{
    color: purple;
    background-color: black ;

}


.introContainer{
    display: grid, flex;
    max-width: auto;
    height: 40vw; 
    grid-auto-rows:max-content;  
    align-content:top;
    gap:0.5em;
    justify-content: center;
    text-align: center;
    color: #f5f5f5;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 9vw; 

    

}

.subtitleBtn{
    display: grid,flex;
    grid-auto-rows:max-content;  

}

.subtitle1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.5vw;
}



.topLine{ 
    font-size: 4vw;
    display: inline-block;
    justify-self: left;
    font-weight: 900;
}



#line{
    color: #800080;
    font-weight: 900;
}

 #im{
    font-size: 7vw;
    font-weight: 900;
 }


 .multitext{
    font-size: 7vw;
    color: purple;
 }

 .btnCV{
    display: grid;
    grid-auto-rows: max-content;
    border: #f5f5f5;
    box-shadow: #800080;
    font-size: 2vw;
    display: inline-block;
    background-color:#cdcdcd;
    justify-self:center;
    color:black;
    text-decoration: solid;
    padding: 1vw, 4vw;
    border-radius:10%;
 }

 .btnCV:hover{
    background-color: black;
    color: purple;
 }



.inicio{
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: 50% 50%;
    gap:1em;
    align-items: center;

}

.presentacion{ 
    margin: 10%;
    display: grid;
    grid-auto-rows: max-content;
    grid-template-rows: 1fr 100%;
    justify-content: center;
    align-items: center;
    gap:2em;

}



.foto{ 
    margin: 10%;
    display: grid;
    grid-auto-rows: max-content;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: auto;   
 
} 

/*
.texto1{
    text-align:justify;
    display: flex;
    justify-content: center;
    font-size: 40px;
   padding-left: 100px; 

}*/

.about{
    background:#f5f5f5;
    padding: 150px;
    justify-content: center;
    font-size:30px ;

}




.contact{
    background-color:#f5f5f5;
    padding: 150px;
    justify-content: center;
    text-decoration: none;
    font-size:30px;
}


footer{
    padding: 20px;
    text-align: center;
    color:#f5f5f5;
    background-color: black;
    width:auto;
    height: 80%;
    

}



